@model Management_System.Models.bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bill_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchase_order.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase_order.company_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bill_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
