@model Management_System.Models.purchase_order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>purchase_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_dat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_dat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.po_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.po_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax.tax_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax.tax_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.po_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
